nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* font-family: Oleo Script;
    font-weight: Regular;
    font-family: Poppins;
    font-weight: Regular; */

* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
    height: 100vh;
    background: url("../../assets/images/v1_3.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .presentation {
    position: absolute;
    top: 70px;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    backdrop-filter: brightness(0.5);
  }

  .title{
    font-family: Oleo Script;
    font-weight: Regular;
    font-size: 100px;
    color: white;
  }

  .text{
    font-family: Poppins;
    font-weight: Regular;
    font-size: 30px;
    color: white;
    margin: 0 150px;
    text-align: center;
    line-height: normal;
  }

/* Styles pour les écrans jusqu'à 768px de large */
@media screen and (max-width: 768px) {
  nav {
    padding: 10px;
    background-color:#333;
    left: 0px;
  }

  nav button {
    margin-top: 10px;
    font-size: 12px;
    margin: 5px;
  }   
  
  nav img {
    display: none;
  }
  
  .title{
    font-size: 50px;
  }

  .text{
    font-size: 20px;
    margin: 0 50px;
  }
}