div {
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#title {
    font-size: 8em;
    font-weight: bold;
    margin-top: 100px;
}

#subtitle {
    font-size: 1.2em;
    margin: 40px 200px 0 200px;
    text-align: center;
}