#details_plat{
    height: 100vh;
    padding: 20px;
}

.presentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.presentation img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

h1 {
    color: rgb(0, 212, 0);
    font-size: 3em;
    margin-top: 20px;
}

h2 {
    color: rgb(0, 212, 0);
    font-size: 2em;
    margin-top: 20px;
}

.left {
    text-align: left;
}

.liste {
    max-width: max-content;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.instuctions {
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis; 
}

table th {
    font-size: 1em;
    color: rgb(0, 212, 0);
    border: 1px solid black;
    padding: 8px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}