<nav>
    <div>
        <img src="../../../assets/images/FoodRadar.png" alt="FoodRadar Logo">
    </div>
    <ul>
        <button mat-button color="primary"><a>HOME</a></button>
        <button mat-button color="primary"><a>OUR CATALOG</a></button>
        <button mat-button color="primary"><a>RESEARCH</a></button>
        <button mat-button color="primary"><a>SIGNIN</a></button>
        <button mat-button color="primary"><a>LOGIN</a></button>

        <!-- <li><a [routerLink]="['catalog']">OUR CATALOG</a></li>
        <li><a [routerLink]="['research']">RESEARCH</a></li>
        <li><a [routerLink]="['signin']">SIGNIN</a></li>
        <li><a [routerLink]="['login']">LOGIN</a></li> -->
    </ul>
</nav>