nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#catalog {
    /* min-height: calc(100vh - 60px); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#type{
    display: flex;
}

#plats {
    padding: 20px;
    width: 90vw;
}

.fixed-column {
    width: 150px; /* Taille fixe pour la colonne */
}

.categorie_desc{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 100px;
}