<div id="catalog">
    <div id="type">
        <button mat-raised-button (click)="getPlats('Chocolate')">Chocolat</button>
        <button mat-raised-button (click)="getPlats('vegetables')">Légumes</button>
        <button mat-raised-button (click)="getPlats('meat')">Viandes</button>
    </div>
    <div id="plats">
        <div>
            <ng-template ngFor let-item [ngForOf]="plats" let-i="index" [ngForTrackBy]="trackByFn">
                <li>...</li>
            </ng-template>
        </div>
    </div>
</div>