#catalog {
    /* min-height: calc(100vh - 60px); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#type{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

#plats {
    padding: 20px;
    width: 100vw;
}

.fixed-column {
    width: 150px; /* Taille fixe pour la colonne */
}