<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Oleo+Script&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps&display=swap" rel="stylesheet" />
        <link href="catalog.component.css" rel="stylesheet" />
        <title>Document</title>
    </head>
    <body>
        <div id="catalog">
            <nav>
                <img src="../../assets/images/FoodRadar.png" alt="logo" width="50px" height="50px">
                <button mat-raised-button (click)="redirect('/home')">Home</button>
                <button mat-raised-button (click)="redirect('/catalog')">Catalogue</button>
                <button mat-raised-button (click)="redirect('/research')">Research</button>
                <ng-container *ngIf="isConnected">
                    {{email}}
                    <button mat-raised-button (click)="redirect('/logout')">Se déconnecter</button>
                </ng-container>
                <ng-container *ngIf="!isConnected">
                    <button mat-raised-button (click)="redirect('/signin')">S'inscrire</button>
                    <button mat-raised-button (click)="redirect('/login')">Se connecter</button>
                </ng-container>
            </nav>
            <br><br><br><br>
            <div class="sidebar">
                <mat-chip-listbox>
                    <div id="type" aria-label="Fish selection" class="mat-chip-listbox">
                        @for (categorie of categories; track categorie) {
                            <mat-chip-option class="category-option" (click)="getPlats(categorie.strCategory)">
                                {{ categorie.strCategory }}
                            </mat-chip-option>
                        }
                    </div>
                </mat-chip-listbox>
            </div>



            <div class="container">
            </div>
            <!--<mat-chip-listbox id="type" aria-label="Fish selection">
                <div class="category-container" *ngFor="let categorie of categories">
                @for (categorie of categories; track categorie) {
                    <mat-chip-option (click)="getPlats(categorie.strCategory)" class="category-option">{{ categorie.strCategory }}</mat-chip-option>
                }
                </div>
            </mat-chip-listbox>-->
            
            <div class="content">
                <div class="categorie_desc">
                    {{ description_categorie }}
                </div>

                <div id="plats">
                    <div>
                        <table mat-table [dataSource]="plats" class="mat-elevation-z8">

                            <ng-container matColumnDef="strMeal">
                                <th mat-header-cell *matHeaderCellDef> Meal Name </th>
                                <td mat-cell *matCellDef="let plat"> {{ plat.strMeal }} </td>
                            </ng-container>

                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef class="fixed-column"> Actions </th>
                                <td mat-cell *matCellDef="let plat" class="fixed-column">
                                <button mat-button (click)="changeRoute(plat.idMeal)">Voir détails</button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>            
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>