<div id="researchBar">
    <div id="nom">
        <input type="text" [(ngModel)]="query" name="query">
        <button (click)="rechercher(query)">Rechercher</button>
    </div>
    <div id="results">
        <div *ngIf="plats.length > 0">
            <div *ngFor="let plat of plats">
                <ul *ngIf="plats.length > 0">
                    <h3>
                        {{ plat.strMeal }}
                    </h3>
                    <p>
                        {{ plat.strIngredient1 }}, {{ plat.strIngredient2 }}, {{ plat.strIngredient3 }}...
                    </p>
                </ul>
            </div>
        </div>
        <div *ngIf="plats2.length > 0">
            <div *ngFor="let plat of filterPlatsAvecIngredients(plats2); let i = index">
                <ul *ngIf="i < 20">
                    <h3>
                        {{ plat.description }}
                    </h3>
                    <p>
                        {{ formatIngredients(plat.ingredients) }}
                    </p>
                </ul>
            </div>
        </div>
    </div>
</div>