#researchBar {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#results {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}