#login {
    position: absolute;
    bottom: 250px; /* Distance depuis le bas de la fenêtre */
    right: 400px; /* Distance depuis le bord droit de la fenêtre */
}

div form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.noaccount{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color : black;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v2_24 {
    width: 100%;
    height: 854px;
    /*background: url("../../assets/images/v2_24.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;*/
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v1_3 {
    width: 100%;
    height: 854px;
    background: url("../../assets/images/background_login.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }

  .v2_4 {
    width: 100%;
    height: 854px;
    background: rgba(0,0,0,0.5);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 31px;
  }
  .v2_26 {
    width: 100%;
    height: 358px;
    /*background: url("../images/v2_26.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;*/
    opacity: 1;
    position: absolute;
    top: 248px;
    left: 72px;
    overflow: hidden;
  }

  @media screen and (min-width: 500px) {
    #login {
      position: absolute;
      bottom: 250px;
      right: 200px;
  }
  }

/* Styles pour les écrans jusqu'à 768px de large */
@media screen and (max-width: 768px) {
  nav {
    padding: 10px;
    background-color:#333;
    left: 0px;
  }

  nav button {
    margin-top: 10px;
    font-size: 12px;
    margin: 5px;
  }   
  
  nav img {
    display: none;
  }
 
  #login {
    position: absolute;
    bottom: 250px;
    right: 100px;
}
}

