<div>
    <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()">
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput type="email" name="email" id="email" [(ngModel)]="form.email" #email="ngModel">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput type="password" name="password" id="password" [(ngModel)]="form.password" #password="ngModel">
        </mat-form-field>
        <div class="group">
            <button mat-raised-button type="submit" >Login</button>
        </div>
    </form>

</div>
