#signin{
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.account{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}